.container {
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    li {
      a {
        text-decoration: none;
        color: var(--white);
        display: block;

        padding: 20px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .active {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
}
